%body
  .chat-side.clearfix
    .chat-side__header
      %p hirokobe26
      %ul
        %li
          %i.fa.fa-edit
        %li
          %i.fa.fa-cog
    .chat-side__group
      .chat-side__group__list
        .chat-side__group__list__name プログラミンググループ
        .chat-side__group__list__message まだメッセージはありません
      .chat-side__group__list
        .chat-side__group__list__name sample
        .chat-side__group__list__message aaaaa


