%body
  .chat-side
    .chat-side__header
      %p hirokobe26
      %ul
        %li
          %i.fa.fa-edit
        %li
          %i.fa.fa-cog
    .chat-side__group
      .chat-side__group__list
        .chat-side__group__list__name プログラミンググループ
        .chat-side__group__list__message まだメッセージはありません
      .chat-side__group__list
        .chat-side__group__list__name sample
        .chat-side__group__list__message aaaaa
  .chat-main
    .chat-main__header
      .chat-main__header__group
        .chat-main__header__group__name プログラミンググループ
        .chat-main__header__group__member MEMBER: hirokobe26
        .chat-main__header__group__edit-button Edit
    .chat-main__message
      .chat-main__message__group
        .chat-main__message__group__name hirokobe26
        .chat-main__message__group__time 2018/07/15 02:07:34
        .chat-main__message__group__comment 終わり！
      .chat-main__message__group
        .chat-main__message__group__name hirokobe26
        .chat-main__message__group__time 2018/07/14 23:49:19
        .chat-main__message__group__comment マークアップなう
    .chat-main__input
      %form
        %input.text-box{type: "text", placeholder: "type a message", id: "upload-icon"}
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
        %input.send-button{type: "submit", value: "SEND"}
