@mixin padding{
  padding-right: 20px;
  padding-left: 20px;
}

@mixin padding_list{
  padding-top: 20px;
  padding-bottom: 40px;
}

.chat-side{
  width: 300px;
  color: #FFFFFF;
  &__groups{
    background-color: #2f3e51;
    @include padding;
    &__list{
      @include padding_list;
      &__name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        font-size: 11px;
      }
    }
  }
  &__header{
    background-color: #253141;
    @include padding;
    &__name p{
      font-size: 16px;
      font-weight: bold;
    }
  }
}

