$sidebar-font-color: #FFFFFF;
$sidebar-background-color: #2f3e51;
$sidebar-background-color-header: #253141;
$edit-and-send-button-color:#38AEF0;
$message-name-and-comment-color: #434A54;
$message-time-color: #999999;
$message-input-background-color: #AAAAAA;
$message-header-name-color: #333333;
